.idea/
.envrc
.DS_Store
*.log.json
/dashboard/rice-box.go
/deploy/firesol
/sf-data
/sf.yaml
/proj
/firesol
.idea
venv
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.auto.pkrvars.hcl
/apc.json
*~