.idea/
.envrc
.DS_Store
*.log.json
/dashboard/rice-box.go
/deploy/firesol
/firedata
/sf.yaml
/proj
/firesol
.idea
venv
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.auto.pkrvars.hcl
/apc.json
*~
/build
/dist/darwin-amd64_darwin_amd64_v1/firesol
/dist/darwin-arm64_darwin_arm64/firesol
/dist/homebrew/firehose-solana.rb
/dist/linux-amd64_linux_amd64_v1/firesol
/dist/linux-arm64_linux_arm64/firesol
/dist/artifacts.json
/dist/checksums.txt
/dist/config.yaml
/dist/firehose-solana_darwin_arm64.tar.gz
/dist/firehose-solana_darwin_x86_64.tar.gz
/dist/firehose-solana_linux_arm64.tar.gz
/dist/firehose-solana_linux_x86_64.tar.gz
/dist/metadata.json
/.fleet/settings.json
/firehose-data/reader/work/uploadable-oneblock/0240816600-oFqP3SLJ4pLdwxBg-fUUN3FS7js2v2wci-240816599-default.dbin
/firehose-data/reader/work/uploadable-oneblock/0240816601-u4uTQqmxdSuMK98F-oFqP3SLJ4pLdwxBg-240816600-default.dbin
/firehose-data/storage/one-blocks/0240816543-cMrEPKC1gXiao3qC-7YjnaY1V1sqLH5pY-240816542-default.dbin.zst
/firehose-data/storage/one-blocks/0240816544-yV6VsdUySfsCRBvY-cMrEPKC1gXiao3qC-240816543-default.dbin.zst
/firehose-data/storage/one-blocks/0240816545-BybgisVZRMsozxLb-yV6VsdUySfsCRBvY-240816544-default.dbin.zst
/firehose-data/storage/one-blocks/0240816546-g5G2g6pzET3PDQvp-BybgisVZRMsozxLb-240816545-default.dbin.zst
/firehose-data/storage/one-blocks/0240816547-ueSJjEqFNMSiJLN9-g5G2g6pzET3PDQvp-240816546-default.dbin.zst
/firehose-data/storage/one-blocks/0240816548-z5A2N6qwMw538RJf-ueSJjEqFNMSiJLN9-240816547-default.dbin.zst
/firehose-data/storage/one-blocks/0240816549-d4ReNQb6w5xKCqpz-z5A2N6qwMw538RJf-240816548-default.dbin.zst
/firehose-data/storage/one-blocks/0240816550-So8K5VonzxdUUcBd-d4ReNQb6w5xKCqpz-240816549-default.dbin.zst
/firehose-data/storage/one-blocks/0240816551-CMLTpfzyQHcmrXbo-So8K5VonzxdUUcBd-240816550-default.dbin.zst
/firehose-data/storage/one-blocks/0240816552-ZHSZuU1kQh5Nv46L-CMLTpfzyQHcmrXbo-240816551-default.dbin.zst
/firehose-data/storage/one-blocks/0240816553-174pZ1Zrd2JFddQi-ZHSZuU1kQh5Nv46L-240816552-default.dbin.zst
/firehose-data/storage/one-blocks/0240816554-EPbabZUZsav9uQVv-174pZ1Zrd2JFddQi-240816553-default.dbin.zst
/firehose-data/storage/one-blocks/0240816555-Y1UyGViZvvtzBMCm-EPbabZUZsav9uQVv-240816554-default.dbin.zst
/firehose-data/storage/one-blocks/0240816556-a9KVmLptE5VChUvs-Y1UyGViZvvtzBMCm-240816555-default.dbin.zst
/firehose-data/storage/one-blocks/0240816557-RYwrLPM3bzzVEYCt-a9KVmLptE5VChUvs-240816556-default.dbin.zst
/firehose-data/storage/one-blocks/0240816558-xkYnCncwdp5xA3vH-RYwrLPM3bzzVEYCt-240816557-default.dbin.zst
/firehose-data/storage/one-blocks/0240816559-edtKxeXmxd2dEuPS-xkYnCncwdp5xA3vH-240816558-default.dbin.zst
/firehose-data/storage/one-blocks/0240816560-GtKBEExc4gM7jJmd-edtKxeXmxd2dEuPS-240816559-default.dbin.zst
/firehose-data/storage/one-blocks/0240816561-VsSxzkUMGqkGWDuZ-GtKBEExc4gM7jJmd-240816560-default.dbin.zst
/firehose-data/storage/one-blocks/0240816562-xsrKWtSL7bZ1KNHe-VsSxzkUMGqkGWDuZ-240816561-default.dbin.zst
/firehose-data/storage/one-blocks/0240816563-2QE572Vkh4e3YPnG-xsrKWtSL7bZ1KNHe-240816562-default.dbin.zst
/firehose-data/storage/one-blocks/0240816564-XS5L9C1dAPBbmocp-2QE572Vkh4e3YPnG-240816563-default.dbin.zst
/firehose-data/storage/one-blocks/0240816565-jzNs8qFu61LerS9N-XS5L9C1dAPBbmocp-240816564-default.dbin.zst
/firehose-data/storage/one-blocks/0240816566-JSwFeBocPxNS3mt7-jzNs8qFu61LerS9N-240816565-default.dbin.zst
/firehose-data/storage/one-blocks/0240816567-ShWWi2GQnVbHKtbJ-JSwFeBocPxNS3mt7-240816566-default.dbin.zst
/firehose-data/storage/one-blocks/0240816568-nhgpnme5xPNYVYwR-ShWWi2GQnVbHKtbJ-240816567-default.dbin.zst
/firehose-data/storage/one-blocks/0240816569-hR4sbKghN6T3CrB1-nhgpnme5xPNYVYwR-240816568-default.dbin.zst
/firehose-data/storage/one-blocks/0240816570-hHyV39wSRnTsbBjk-hR4sbKghN6T3CrB1-240816569-default.dbin.zst
/firehose-data/storage/one-blocks/0240816571-ui1PryWbLw5iiue6-hHyV39wSRnTsbBjk-240816570-default.dbin.zst
/firehose-data/storage/one-blocks/0240816572-bTY6AohYYy1jHdbb-ui1PryWbLw5iiue6-240816571-default.dbin.zst
/firehose-data/storage/one-blocks/0240816573-jCqrr2BzcsttqheG-bTY6AohYYy1jHdbb-240816572-default.dbin.zst
/firehose-data/storage/one-blocks/0240816574-B8uwgHSxYmA5Ny5h-jCqrr2BzcsttqheG-240816573-default.dbin.zst
/firehose-data/storage/one-blocks/0240816575-2VyWn4RVHw7JJ5ku-B8uwgHSxYmA5Ny5h-240816574-default.dbin.zst
/firehose-data/storage/one-blocks/0240816576-26YX8mmDhdKv9CpC-2VyWn4RVHw7JJ5ku-240816575-default.dbin.zst
/firehose-data/storage/one-blocks/0240816577-KFzEu243HwNRk7ZQ-26YX8mmDhdKv9CpC-240816576-default.dbin.zst
/firehose-data/storage/one-blocks/0240816578-nzrNiNYSJ491evSv-KFzEu243HwNRk7ZQ-240816577-default.dbin.zst
/firehose-data/storage/one-blocks/0240816579-H9ms7PnDWX3wScvk-nzrNiNYSJ491evSv-240816578-default.dbin.zst
/firehose-data/storage/one-blocks/0240816580-LjT8viZYRQTUA3SK-H9ms7PnDWX3wScvk-240816579-default.dbin.zst
/firehose-data/storage/one-blocks/0240816581-yvF74ErTPM29vz3z-LjT8viZYRQTUA3SK-240816580-default.dbin.zst
/firehose-data/storage/one-blocks/0240816582-Jmv87vZsbhyWUzxq-yvF74ErTPM29vz3z-240816581-default.dbin.zst
/firehose-data/storage/one-blocks/0240816583-LrrLAm54pLtKRqgE-Jmv87vZsbhyWUzxq-240816582-default.dbin.zst
/firehose-data/storage/one-blocks/0240816584-UPnhQBDes4M22kN9-LrrLAm54pLtKRqgE-240816583-default.dbin.zst
/firehose-data/storage/one-blocks/0240816585-DcHz6NDGatrPRm1D-UPnhQBDes4M22kN9-240816584-default.dbin.zst
/firehose-data/storage/one-blocks/0240816586-zAAVftqUCL3Dvh1d-DcHz6NDGatrPRm1D-240816585-default.dbin.zst
/firehose-data/storage/one-blocks/0240816587-gGQ9CNND8iZNsz6f-zAAVftqUCL3Dvh1d-240816586-default.dbin.zst
/firehose-data/storage/one-blocks/0240816588-WKUdBZjXU24tdFww-gGQ9CNND8iZNsz6f-240816587-default.dbin.zst
/firehose-data/storage/one-blocks/0240816589-1JkvHG1M54muNwUn-WKUdBZjXU24tdFww-240816588-default.dbin.zst
/firehose-data/storage/one-blocks/0240816590-ueWoAdyc35DmXeeR-1JkvHG1M54muNwUn-240816589-default.dbin.zst
/firehose-data/storage/one-blocks/0240816591-D2KXk9Nc3JMTbSR4-ueWoAdyc35DmXeeR-240816590-default.dbin.zst
/firehose-data/storage/one-blocks/0240816592-ep9SnfJcBWvfXLAA-D2KXk9Nc3JMTbSR4-240816591-default.dbin.zst
/firehose-data/storage/one-blocks/0240816593-J43m8d2usngrEyqc-ep9SnfJcBWvfXLAA-240816592-default.dbin.zst
/firehose-data/storage/one-blocks/0240816594-DqY8pr5KyTZ83cyy-J43m8d2usngrEyqc-240816593-default.dbin.zst
/firehose-data/storage/one-blocks/0240816595-oYyC4GpEybsC6fUN-DqY8pr5KyTZ83cyy-240816594-default.dbin.zst
/firehose-data/storage/one-blocks/0240816596-juycmDi3U5EMAugh-oYyC4GpEybsC6fUN-240816595-default.dbin.zst
/firehose-data/storage/one-blocks/0240816597-AQipdgoR9gVQLc2k-juycmDi3U5EMAugh-240816596-default.dbin.zst
/firehose-data/storage/one-blocks/0240816598-nRQqTFc22RED3W5g-AQipdgoR9gVQLc2k-240816597-default.dbin.zst
/firehose-data/storage/one-blocks/0240816599-fUUN3FS7js2v2wci-nRQqTFc22RED3W5g-240816598-default.dbin.zst
/firesol-legacy
/block/fetcher/secret.go
